 
.table2
{
    background: rgb(157, 152, 163);
    margin-top: 4%;
    margin-left: 24%;
    width: 600px;
    height: auto;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid white;
}

.body2
{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background: rgb(144, 144, 144);
    font-size: large;
    color: rgb(0, 0, 0);
}

.sup
{
    border: 2px solid rgb(6, 31, 155);
    background-color: rgb(16, 224, 16);
    color: black;
    padding: 8px;
    width: 100px;
}


.mod
{
    color: black;
    border: 2px solid rgb(2, 250, 242);
    background-color: rgb(12, 159, 250); 
    padding: 8px;
    width: 100px;
}
a
{
    text-decoration: none;
    color: black;
    
}

.pre
{
    display: flex;
    flex-wrap: wrap;
}

.ajo
{
    border: 2px solid rgb(2, 250, 242);
    background-color: rgb(12, 159, 250);
    width: 100px;
    margin: 40px;
    height: 25px;
    padding-left: 10px;
    padding-top: 10px;
}